@model StacklyBackend.Models.Item;

@{
    ViewData["Title"] = "Details";
}

<h2>Item - @ViewData["Title"]</h2>
@* <p>Item details: </p> *@


<div class="details-container">
    <ul>
        <li>Product ID: <b>@Model.Id</b></li>
        <li>Product Name: <b>@Model.Name</b></li>
        <li>Product Description: <b>@Model.Description</b></li>
        <li>Product Quantity: <b>@Model.Quantity</b></li>
    </ul>

</div>
