@model StacklyBackend.Models.Item
@using Microsoft.CodeAnalysis.Differencing
@{
    var error = ViewData["Error"] as string;
    ViewData["Title"] = "Edit";
}
<h2>Items - @ViewData["Title"]</h2>
<a href="/item"><button type="button" aria-label="Go back">Go to list</button></a>
<p>Item form: </p>

@if (!string.IsNullOrEmpty(error))
{
    <div role="alert" class="validation-summary-errors">
        @error
    </div>
}

<form action="/item/edit/@Model.Id" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    <div>
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="@Model?.Name"/>
    </div>
    <div>
        <label for="Description">Description</label>
        <input type="text" id="Description" name="Description" value="@Model?.Description"/>
    </div>
    <div>
        <label for="Quantity">Quantity</label>
        <input type="text" id="Quantity" name="Quantity" value="@Model?.Quantity"/>
    </div>
    <div>
        <select name="CategoryId" id="CategoryId">
            @foreach (var cat in (ViewData["categories"] as IEnumerable<StacklyBackend.Models.Category>) ?? Array.Empty<StacklyBackend.Models.Category>())
            {
                <option selected='@(Model?.CategoryId == cat.Id ? "selected" : null)' value="@cat.Id">@cat.Name</option>
            }
        </select>
    </div>
    <button type="submit">Edit</button>
    <p>Add new photos (max 10MB) :</p>
    <input 
        type="file" 
        name="Files"
        accept=".jpg, .jpeg, .png"
        multiple
    />
    <button type="submit">Upload</button>
</form>
<p>Photos added:</p>
<ul>
    @foreach (var file in @Model.Files)
    {
        <li style="display: flex;">
            <img 
                src="@Url.Action("Preview", "Item", new { fileId = file.Id })" 
                style="width: 250px; height: 160px; object-fit: cover;"
                alt="@file.OriginalFileName"
                loading="lazy"
            />
            <div style="display: flex; flex-direction: column;">
                <a class="btn btn-sm btn-primary"
                    href="@Url.Action("Download", "Item", new { fileId = file.Id })">
                    Download
                </a>
                <a
                    href="@Url.Action("RemoveUpload", "Item", new {fileId = file.Id})">
                    Remove 
                </a>
            </div>
        </li>
    }
</ul>